/* .form{
    border-top: 10%;
    border-bottom: 10%;
    background-color: blue;
    text-align: center;
    margin-top: 10%;
    margin-right: 17%;
} */


 /* @import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Halant:wght@600&display=swap');


body{
    
    font-family: 'Halant', serif;
    background-color: whitesmoke;
}


  .form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    
  }
  
  .form h2 {
    margin-left: 10%;
  }
  
  .section {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .lable-w {
    width: 30%;
    margin-left: 10%;
  }
  
#dropdown_selection{
    width: 210px;
}

  .input-w{
    width:200px;

  }
  
  .button{
    background-color: blue;
    color: white;
    width: 212px;
    height: 27px;
    margin-left: 40%;
} 







